body {
  margin: 0;
  height: 100vh;
}

.image {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.slider-button {
  background-color: none;
  border: none;
}

.arrow {
  height: 40px;
  width: 40px;
}

.image.active {
  display: block;
}

.slider-container {
  display: flex;
  flex-direction: row;
}

.navigation-button {
  background-color: white;
  border: none;
}

.navigation-dots {
  display: flex;
}

.navigation-dot {
  width: 20px;
  fill: grey;
  margin: 20px;
}

.navigation-dot.active {
  width: 20px;
  fill: black;
  margin: 20px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}